body{
  background-color: black;
}
h1{
  color: antiquewhite;
  font-family: "Press Start 2P",sans-serif;
}
p{
  color: lightgreen;
  font-family: "roboto", "consolas", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: white dotted underline;
  font-size: 22;
}